<head>
  <link rel="stylesheet" href="/components/header/header.css">
  <link rel="stylesheet" href="/components/navigation/navigation.css">
  <link rel="stylesheet" href="/components/profile-menu/profile-menu.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/js/all.min.js"
    integrity="sha512-xgIrH5DRuEOcZK5cPtVXx/WSp5DTir2JNcKE5ahV2u51NCTD9UDxbQgZHYHVBlPc4H8tug6BZTYIl2RdA/X0Vg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="./header.js"></script>

</head>

<body>


  <section class="header">
    <div class="logo">
      <img src="/assets/tweeter.svg" alt="tweeter-logo">
    </div>

    <!-- Navigation -->
    <div id="navigation-container"></div>

    <!-- Profile -->
    <div id="profile-container"></div>

    <!-- <img src="/components/navigation/navigation.html" alt="" srcset=""> -->
  </section>
</body>