<head>
  <link rel="stylesheet" href="./tweet-form.css">
  <script src="./tweet-form.js" defer></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/js/all.min.js"
    integrity="sha512-xgIrH5DRuEOcZK5cPtVXx/WSp5DTir2JNcKE5ahV2u51NCTD9UDxbQgZHYHVBlPc4H8tug6BZTYIl2RdA/X0Vg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<div class="tweet-form">
  <form action="#">
    <div class="form-container">
      <h2 class="title">Tweet something</h2>
      <hr>
      <div class="content">
        <img class="profile-img" src="/assets/profile1.jpg" alt="profile-img">
        <div class="content-controls">
          <textarea placeholder="What's happening?" name="tweet-area" class="tweet-area" id="tweet-area"></textarea>
          <div class="control-actions">
            <div class="left-cta">
              <span class="upload-media" id="uploadMedia"><i class="fa-regular fa-image"></i></span>
              <input type="file" id="fileInput" style="display:none">
              <span class="reply-actions">
                <span class="icon"><i class="fa-solid fa-earth-asia"></i></span>
                <span class="title">Everyone can reply</span>
              </span>
              <div class="reply-card" hidden>
                <h2>Who can reply</h2>
                <p>Choose who can reply to this Tweet.</p>
                <ul>
                  <li>
                    <span class="icon"><i class="fa-solid fa-earth-asia"></i></span>
                    <span class="title">Everyone</span>
                  </li>
                  <li>
                    <span class="icon"><i class="fa-solid fa-user-group"></i></span>
                    <span class="title">People you follow</span>
                  </li>
                </ul>
              </div>
            </div>
            <button type="button">Tweet</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>