<head>
  <link rel="stylesheet" href="./trends.css">
  <script src="./trends.js" defer></script>
</head>
<div class="trends">
  <h2 class="title">Trends for you</h2>
  <hr>
  <ul>
    <li class="trends-list-item">
      <h3>#programming</h3>
      <p>213k Tweets</p>
    </li>
    <li class="trends-list-item">
      <h3>#devchallenges</h3>
      <p>123k Tweets</p>
    </li>
    <li class="trends-list-item">
      <h3>#frontend</h3>
      <p>34k Tweets</p>
    </li>
    <li class="trends-list-item">
      <h3>#helsinki</h3>
      <p>11k Tweets</p>
    </li>
    <li class="trends-list-item">
      <h3>#100DaysOfCode</h3>
      <p>5k Tweets</p>
    </li>
    <li class="trends-list-item">
      <h3>#learntocode</h3>
      <p>1k Tweets</p>
    </li>
  </ul>
</div>