<head>
  <link rel="stylesheet" href="./user-profile.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/js/all.min.js"
    integrity="sha512-xgIrH5DRuEOcZK5cPtVXx/WSp5DTir2JNcKE5ahV2u51NCTD9UDxbQgZHYHVBlPc4H8tug6BZTYIl2RdA/X0Vg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<div class="user-profile">
  <div class="user-image">
    <img src="/assets/profile1.jpg" alt="user-image">
  </div>
  <div class="user-info">
    <div class="user-details">
      <div class="details-container">
        <h2 class="title">Cristina Neal</h2>
        <span class="following-count"><b>2569</b> Following</span>
        <span class="follower-count"><b>10.8K</b> Followers</span>
      </div>


      <div class="user-description">
        Photographer & Filmmaker based in Copenhagen, Denmark ✵ 🇩🇰
      </div>
    </div>
    <button type="button" class="follow-button"><i class="fa-solid fa-user-plus fa-flip-horizontal"></i>Follow</button>

  </div>
</div>