<head>
  <link rel="stylesheet" href="./profile.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/js/all.min.js"
    integrity="sha512-xgIrH5DRuEOcZK5cPtVXx/WSp5DTir2JNcKE5ahV2u51NCTD9UDxbQgZHYHVBlPc4H8tug6BZTYIl2RdA/X0Vg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<div class="profile">
  <div class="profile-info">
    <img src="/assets/profile1.jpg" class="profile-img" alt="profile-img">
    <h2 class="profile-name">Cristina Neal</h2>
    <span class="drop-icon"><i class="fa-solid fa-caret-down"></i></span>
  </div>

  <div class="profile-card">
    <ul>
      <li>
        <span class="icon"><i class="fa-solid fa-circle-user"></i></span>
        <span class="title">My Profile</span>
      </li>
      <li>
        <span class="icon"><i class="fa-solid fa-user-group"></i></span>
        <span class="title">Group Chat</span>
      </li>
      <li>
        <span class="icon"><i class="fa-solid fa-gear"></i></span>
        <span class="title">Settings</span>
      </li>
      <hr>
      <li>
        <span class="icon"><i class="fa-solid fa-arrow-right-to-bracket"></i></span>
        <span class="title">Logout</span>
      </li>
    </ul>
  </div>
</div>