.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1em;
  /* margin: 0 10%; */
}

.profile-page .main {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  flex: 100%;
}

.profile-page .cover-image img {
  height: 350px;
  width: 100%;
}

/* User-Profile Styles */

.user-profile {
  display: inline-flex;
  flex-direction: row;
  column-gap: 1em;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5em;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  font-family: "Noto Sans", sans-serif;

  margin: 0 10%;
  margin-top: -5em;
}

.user-profile .user-image img {
  height: 150px;
  width: 150px;
  margin-top: -4em;
  border-radius: 8px;
}

.user-profile .user-info {
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: space-between;
}

.user-profile .user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* column-gap: 1em; */
  /* justify-content: space-between; */
}

.user-profile .details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  column-gap: 1em;
}

.user-profile .details-container .title {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: rgba(51, 51, 51, 1);
}

.user-profile .details-container .following-count,
.user-profile .details-container .follower-count {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: rgba(130, 130, 130, 1);
}

.user-profile .follow-button {
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding: 0.5em 1em;
  background-color: rgba(47, 128, 237, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  border: 0;
  height: fit-content;
}

.user-profile .follow-button:hover {
  cursor: pointer;
  background-color: rgba(47, 128, 237, 0.95);
}

.user-profile .follow-button svg {
  padding-inline-start: 0.5em;
}

.user-profile .user-description {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgba(130, 130, 130, 1);
  align-self: flex-start;
  width: 60%;
}
