@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
  background-color: rgba(242, 242, 242, 1);
  padding: 0;
  margin: 0;
}

.follow-modal {
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  padding: 1em;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  width: 500px;
}

.follow-modal .heading {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.follow-modal .title {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
}

.follow-modal .close-button {
  border: 0;
  background-color: transparent;
}

.follow-modal .close-button:hover {
  cursor: pointer;
}

.follow-modal .close-button svg {
  height: 24px;
  width: 24px;
  color: rgba(79, 79, 79, 1);
}

.follow-modal .follow-item {
  display: inline-flex;
  flex-direction: column;
  padding: 0.5em 0;
}

.follow-modal .follow-item hr {
  width: 100%;
  margin: 5px 0;
}

.follow-modal .profile-info {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  align-items: center;
  justify-content: space-between;
}

.follow-modal .profile-details {
  display: inline-flex;
  column-gap: 0.5em;
  align-items: center;
}

.follow-modal .profile-info .profile-img {
  height: 32px;
  width: 32px;
  border-radius: 8px;
}

.follow-modal .profile-info p {
  margin: 2px 0;
}

.follow-modal .profile-info .name {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.follow-modal .profile-info .follower-count {
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: rgba(130, 130, 130, 1);
}

.follow-modal .profile-info .follow-button {
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding: 0.5em 1em;
  background-color: rgba(47, 128, 237, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  border: 0;
}

.follow-modal .profile-info .follow-button:hover {
  cursor: pointer;
  background-color: rgba(47, 128, 237, 0.95);
}

.follow-modal .profile-info .follow-button svg {
  padding-inline-start: 0.5em;
}

.follow-modal .profile-description {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  color: rgba(130, 130, 130, 1);
  overflow-wrap: break-word;
  /* width: 250px; */
}
