<!-- <head>
  <link rel="stylesheet" href="./recommendations.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/js/all.min.js"
    integrity="sha512-xgIrH5DRuEOcZK5cPtVXx/WSp5DTir2JNcKE5ahV2u51NCTD9UDxbQgZHYHVBlPc4H8tug6BZTYIl2RdA/X0Vg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="./header.js"></script>

</head> -->

<div class="recommendations">
  <h2 class="title">Who to follow</h2>
  <div class="recommendation-item">
    <hr>
    <div class="profile-info">
      <div class="profile-details">
        <img src="/assets/profile1.jpg" alt="profile-img" class="profile-img">
        <div>
          <p class="name">Mikael Stanley</p>
          <p class="follower-count">230k followers</p>
        </div>
      </div>
      <button type="button" class="follow-button"><i
          class="fa-solid fa-user-plus fa-flip-horizontal"></i>Follow</button>
    </div>
    <p class="profile-description">Photographer & Filmmaker based in Copenhagen, Denmark ✵ 🇩🇰</p>
    <img src="/assets/profile-cover.jpg" alt="profile-cover-img" class="profile-cover">
  </div>
  <div class="recommendation-item">
    <hr>
    <div class="profile-info">
      <div class="profile-details">
        <img src="/assets/profile1.jpg" alt="profile-img" class="profile-img">
        <div>
          <p class="name">Mikael Stanley</p>
          <p class="follower-count">230k followers</p>
        </div>
      </div>
      <button type="button" class="follow-button"><i
          class="fa-solid fa-user-plus fa-flip-horizontal"></i>Follow</button>
    </div>
    <p class="profile-description">Photographer & Filmmaker based in Copenhagen, Denmark ✵ 🇩🇰</p>
    <img src="/assets/profile-cover.jpg" alt="profile-cover-img" class="profile-cover">
  </div>

</div>