<head>
  <link rel="stylesheet" href="/components/footer/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/js/all.min.js"
    integrity="sha512-xgIrH5DRuEOcZK5cPtVXx/WSp5DTir2JNcKE5ahV2u51NCTD9UDxbQgZHYHVBlPc4H8tug6BZTYIl2RdA/X0Vg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<section class="footer">
  <div class="left-cta">
    <img src="/assets/tweeter-small.svg" alt="tweeter-logo">
    <span>&copy; 2023 Company, Inc</span>
  </div>
  <div class="right-cta">
    <span class="twitter"><i class="fa-brands fa-twitter"></i></span>
    <span class="instagram"><i class="fa-brands fa-instagram"></i></span>
    <span class="facebook"><i class="fa-brands fa-facebook"></i></span>
  </div>
</section>