.explore-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1em;
  margin: 0 10%;
}

.explore-page .main {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  flex: 100%;
}

.explore-page .main .tweet-card-container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.explore-page .sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  flex: auto;
}

/* Search Styles */
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.5em;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  padding: 1em;
  font-family: "Noto Sans", sans-serif;
}

.search .controls {
  display: flex;
  column-gap: 0.5em;
  flex: auto;
}

.search .search-control {
  border: 0;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  width: 100%;
}

.search .search-control:focus-visible {
  outline: 0;
}

.search .search-icon:hover {
  cursor: pointer;
}

.search .search-button {
  background-color: rgba(47, 128, 237, 1);
  color: rgba(255, 255, 255, 1);
  padding: 0.5em 1em;
  border-radius: 4px;
  border: none;
  font-family: "Noto Sans", sans-serif;
}

.search .search-button:hover {
  cursor: pointer;
  background-color: rgba(47, 128, 237, 0.95);
}

/* Explore-List styles */
.explore-list {
  display: inline-flex;
  flex-direction: column;
  padding: 1em 0;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  width: 10em;
}

.explore-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.explore-list .explore-list-item {
  padding: 1em;
  border-left: 3px solid transparent;
  transition: border-left-color 0.5s;
  user-select: none;
}

.explore-list .explore-list-item:hover {
  cursor: pointer;
  color: rgba(47, 128, 237, 1);
}

.explore-list .explore-list-item[selected] {
  color: rgba(47, 128, 237, 1);
  border-left: 3px solid rgba(47, 128, 237, 1);
  border-radius: 2px;
  transition-timing-function: ease;
}
