body {
  font-family: "Noto Sans", sans-serif;
  /* font-family: "Poppins", sans-serif; */
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main #content-container {
  flex: 1;
}

main #home-page-container {
  padding: 2em;
}

/* footer {
  padding: 1em;
  background-color: lightgreen;
} */
